@charset "UTF-8";

@media screen and (min-width:760px){
    
    .container .contentHeader h1{
        padding: var(--padding-button);
        font-size: clamp(3.5em,4.5vw,4.8em);
        font-weight: 900;
    }
    .content .container-action .abouts-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        justify-content: center;
    }
    .content .container-action .abouts-container  img{
        width: 100%;
        height: 500px;
        object-fit: cover;
    }
    .content .container-action .features-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        justify-content: center;
    }
    .content .container-action .features-container img{
        width: 100%;
        order: 2;
        object-fit: cover;
    }
    .content .container-action .features-container .content-action{
        order: 1;
        margin-left: 2em;
    }
    .content .container-action .features-container img{
        height: 500px;
    }
    .content .container-action .desing-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        justify-content: center;
    }
    .content .container-action .desing-container img{
        height: 500px;
    }
    .content .container-action .desing-container h2{
        font-size: 3.2em;
    }
    .content .container-action .features-container h2{
        font-size: 3.2em;
    }
    .content .container-action .abouts-container h2{
        font-size: 3.2em;
    }
}